.trigger {
  font-size: 30px;
  line-height: 10px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  margin: 14px;
  text-align: center;
}

.site-layout-background {
  background: #eee;
}
.site-layout .site-layout-background {
  background: #fff;
}
