.center-col {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.text-menu-user {
    font-family: 'Roboto';
    font-size: 1.25rem;
    margin: 0.5em 0 0.25em 0;
}

.card-image-pomo {
    padding: 10px;
}

.filters-menu-user {
  margin: 1em 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

@media (max-width: 575.98px) {
    .menu-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 0.5em;
    }

    .order-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 0.5em;
        border: 1px solid red;
    }

    .img-user-menu {
        height: 200px;
        width: 100%;
        border-radius: 5px;
        object-fit: cover;
    }
}

@media (min-width: 576px) and (max-width: 786.98px) {
    .menu-container {
        display: grid;
        padding: 0 1em;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0.5em;
    }

    .order-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 0.5em;
        border: 1px solid red;
    }

    .img-user-menu {
      height: 250px;
      width: 100%;
      border-radius: 5px;
      object-fit: cover;
  }
}

@media (min-width: 787px) {
    .menu-container {
        display: grid;
        padding: 0 1em;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 0.5em;
    }

    .order-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 0.5em;
        border: 1px solid red;
    }

    .img-user-menu {
      height: 250px;
      width: 100%;
      border-radius: 5px;
      object-fit: cover;
  }
}
