.body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

button:focus {
    outline: none;
}

input:focus {
    outline: none;
}

.ant-layout-content {
    flex: auto;
    min-height: calc(100vh - 144px) !important;
    height: auto !important;
}
